---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import WhoWeAre from "../layouts/WhoWeAre.astro";
import WhatWeDo from "../layouts/WhatWeDo.astro";
import ProjectSteps from "../layouts/ProjectSteps.astro";
---

<Layout title="Brito.top | UI, UX and Web projects development">
  <Header />
  <main>
    <WhoWeAre />
    <WhatWeDo />
    <ProjectSteps />
  </main>
</Layout>
