---
import SectionTitle from "../components/SectionTitle.astro";
import StepCard from "../components/StepCard.astro";
import BlackHole from "../icons/black-hole.svg";

const content = {
  title: "How is a project born?",
};
---

<section id="project-steps">
  <header>
    <SectionTitle text={content.title} />
  </header>
  <footer>
    <StepCard
      position={{ number: "01", description: "Primeira etapa" }}
      content={{
        title: "Kick-off",
        description:
          "Vamos tomar uma xícara de café juntos e entender as principais necessidades e objetivos do seu projeto. Vamos absorver todas as informações da sua empresa.",
      }}
    />
  </footer>
  <aside>
    <img
      src={BlackHole}
      alt="Purple ball looking like a black hole"
      aria-hidden="true"
      width={400}
      height={400}
      loading="lazy"
      decoding="async"
    />
  </aside>
</section>

<style lang="scss">
  @import "../variables";

  section {
    min-height: 70rem;
    position: relative;
    display: flex;
    gap: 7rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    img:first-of-type {
      z-index: -1;
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>
